<tr id="deck">
  <td class="pr-2"><a href="/decks/{{@index}}" id="deck{{@index}}id">{{decktitle}}<a></td>
  <td class="">{{deckauthor}}</td>
  <td class="w-50 pr-2">{{deckdesc}}</td>
  <td><a href="/decks/{{@index}}/edit" class="btn btn-primary">edit</a></td>
</tr>
