<section class="flash-card col-sm-2 border rounded-sm m-2">

  <div class="fc-back">
    {{title}}
    {{backImage}}
  </div>

  <div class="fc-inner">
    <div class="fc-front">
      {{frontImage}}
      {{title}}
      {{text}}
    </div>
  </div>

</section>
